.countdown-overlay {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    height: 100%;
    // background-position: center!important;
    // background-size: cover!important;
}

.countdown-wrapper {
    width: 100%;

    .evt-day {
        font-weight: bold;
        margin: 0 20px;
    }
    .evt-hour {
        margin: 0 10px;
    }
    .is-today {
        border-bottom: 3px solid #fff;
        padding-bottom: 3px;
    }
    h2 {
        font-size: 2rem;
    }
}


.event-title {
    font-size: 3rem;
}

.happening-title {
        font-size: 5rem;
        font-weight: bold;
        text-transform: uppercase;
    }

.event-countdown-wrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    .countdown-timer {
        display: inline-flex;
        justify-content: space-between;
        margin: 3rem 0;
    }
    .countdown-timer > p {
        margin: 0 2rem;
        display: flex;
        flex-direction: column;
    }
    .time-title {
        order: 9;
        font-size: 1rem;
        text-transform: uppercase;
    }
    .time-value {
        font-size: 5rem;
    }
}



// .countdown-overlay {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }