// Required Variables:
//

$primary: #a51d22;
$secondary: orange;
$offwhite: #ffe;
$black: #000;

$primary: rgb(255, 109, 0);
$secondary: rgb(13, 162, 186);
$headingFont: 'Playfair Display SC', serif;
$itemFont: 'Oswald', sans-serif;
// $texture:
