.carousel .slider-wrapper {
  background: url('./images/texture.jpg');
  background-position: center;
  background-size: cover;
}
.carousel .slider-wrapper {
    background: url('./images/texture.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}